@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-olive: #1d1d1d;
    --red-ketchup: #cc0417;
    --orange-cheddar: #c95729;
    --yellow-cheese: #f9ad03;
    --white-flour: #ececec;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    margin: 0;
    background: url(/assets/pizzaback.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.formulario{
    background: rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    backdrop-filter: blur(2.5px);
}

.login-title{
    text-align: center;
    color: var(--yellow-cheese);
    font-size: 3.5rem;
    font-family: 'Lobster', cursive;
}

.input-contenedor{
    margin: 25px;
    width: 90%;
}

.input-contenedor input{
    padding: 0.3rem;
    width: 89%;
}

.input-contenedor i{
    color: var(--red-ketchup);
}

.button{
    margin-left: 2rem;
    border: none;
    width: 85%;
    color: white;
    font-size: 20px;
    background:  var(--red-ketchup);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: var(--dark-olive);
}

.formulario p{
    text-align: center;
    color: var(--white-flour);
    font-size: 0.9rem;
    padding: 1rem;
}
.link{
    text-decoration: none;
    color: var(--red-ketchup);
    font-weight: 600;
    transition: all .6s ease-in-out;
}
.link:hover{
     color: var(--yellow-cheese);
}

.logo-container {
	position: absolute;
	top: 50px;
	left: 50.5rem;
}

.logo img {
    width: 10rem;
}

.cookie {
     color: var(--white-flour);
     margin: 2rem;
   
}

@media(min-width:480px)
{
    
}
@media(min-width:768px)
{
    .formulario{
        width: 60%;
    }

    .input-contenedor{
        margin: 2rem;
    }
    
    .formulario p {
        padding: 2rem;
    }

    .button{
        width: 90%;
    }

}

@media (min-width: 1024px)
{
    .formulario{
        width: 30%;
    }

    .cookie{
        margin: 2rem 0 0 3.5rem;
    }

    .button{
        margin-left: 1rem;
    }
    
    .formulario p{
        font-size: 1.2rem;
    }
    .registrate-link p, 
    .registrate-link a{
        font-size: 1.2rem;
    }
}














