@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root {
    --dark-olive: #1d1d1d;
    --red-ketchup: #cc0417;
    --orange-cheddar: #c95729;
    --yellow-cheese: #f9ad03;
    --white-flour: #ececec;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 50%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
    background-image: url('/assets/backgroundPizza.png');
}

.heading{
   text-align: center;
   font-size: 3rem;
   color: var(--red-ketchup);
   padding: 1rem;
   margin: 2rem 0;
   background: #fafafa9d;
   font-family: 'Lobster';
}

.heading span{
    color:var(--main-carrot-orange);
}

.comprar-container a{
    display: flex;
    cursor: pointer;
    color: var(--white-flour);
    background-color: var(--red-ketchup);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0 0);
    height: 40px;
    width: 180px;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .8s ease-in-out;
}


.comprar-container a:hover {
    color: var(--red-ketchup);
    background-color: var(--white-flour);
}


header{
    position:fixed;
    background-color: #0000004a;
    top:0; 
    left: 0;
    right: 0%;
    padding: 0rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.562);
    color: var(--white-flour);
}

header .logo{
    color: var(--white-flour);
    font-weight: bolder;
    margin-left: 5rem;
    width: 100%;
}
header .logo img {
    height: 10rem;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color:var(--white-flour);
    font-weight: bold;
    transition: all .4s ease-in-out;
}

header .navbar a:hover{
    color: var(--red-ketchup);
    text-shadow: var(--red-ketchup) 0px 0px 5px, var(--red-ketchup) 0px 0px 10px, var(--red-ketchup) 0px 0px 15px, var(--red-ketchup) 0px 0px 20px, var(--red-ketchup) 0px 0px 30px, var(--red-ketchup) 0px 0px 40px, var(--red-ketchup) 0px 0px 50px, var(--red-ketchup) 0px 0px 75px, 2px -2px 2px rgba(204,4,23,0);
}


.icons-header {
    display: none;
}

.icons-header a{
    color: var(--white-flour);
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-left: 1.5rem;
}

header .fa-heart:before {
    margin: 0;
}

header .icons-header a:hover{
    color: var(--red-ketchup);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
.navbar-desktop {
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/assets/pizzaDale.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:var(--white-flour);
    font-family: 'Lobster', cursive;
}
#color-ketchup {
    color: var(--red-ketchup);
    font-size: 9rem;
}
.home .content span{
    font-size: 3.5rem;
    color: var(--white-flour);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: var(--white-flour);
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--main-xiketic);
}

.about .row .content p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    font-weight: bold;
}

.about a {
    font-size: 2rem;
    color: var(--red-ketchup);
    font-weight: bold;
}

/* SECTION: DELIVERY - DESC - OFERTAS - TARJETA */

.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-info{
    background: #fff;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
    justify-content: space-between;
}
.icons-info h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-info span{
    color: #555;
    font-size: 1.3rem;
}
.icons-info i{
    font-size: 3rem;
    color: var(--yellow-cheese);
}

/*                  SECCIÓN PRODUCTOS                  */

.products-container .box-products{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.products-container .box-products .box-img{
    padding: 2rem;
    background: var(--white-flour);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0, .3);
    text-align: center;
    flex:1 1 30rem;
    position: relative;
}
.box-img img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: .5rem;
}

.products-container .box-products .box-img .price {
    position: absolute;
    top: 3rem;
    left: 3rem;
    background: var(--red-ketchup);
    color: var(--white-flour);
    font-size: 2rem;
    padding: .5rem ;
}

.products-container .box-products .box-img h3 {
    color: var(--red-ketchup);
    font-size: 2.5rem;
    padding-top: 1rem;
}

.products-container .box-products .box-img .stars i {
    color: var(--yellow-cheese);
    font-size: 1.7rem;
    padding: 1rem;
}

.button-order{
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid var(--red-ketchup);
    color:var(--red-ketchup);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  
  .button-order::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:var(--red-ketchup);
    transition: .3s linear;
    z-index: -1;
  }
  
  .button-order:hover::before{
    width:100%;
    left: 0;
  }
  
  .button-order:hover{
    color:#fff;
  }

/*               SECCIÓN:  OPINIONES DE CLIENTES            */

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--yellow-cheese);
    font-size: 2rem;
}

.review .box-container .box p{
    color:var(--dark-olive);
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    font-weight: bold;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

/*             SECCIÓN: CONTACTANOS                */

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #ececec7c;
    border-radius: .5rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

input .send-button {
    color: var(--red-ketchup);
}

/*                      SECCIÓN: FOOTER                    */

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    background-color: #0000004a;
    padding: 5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:var(--dark-olive);
    font-size: 3rem;
    padding:1rem 0;
    font-family: 'Lobster';
}

.footer .box-container .box a{
    display: block;
    color:var(--dark-olive);
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
    background-color: #0000004a;
}

.footer .credit span{
    color:var(--dark-olive);
}

header .navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: #00000086;
    border-top: .1rem solid rgba(0,0,0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.247);
    display: block;
    color: var(--white-flour);
}

header #toggler:checked ~ .navbar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


header .fa-bars{
    display: block;
}

/* media queries */

@media (min-width:768px) {
    header .logo {
        width: 50%;
    }
    section {
        padding: 2rem 20%;
    }
}

@media (min-width: 1024px) {
    section {
        padding: 2rem 10%;
    }
    .products-container .box-products .box-img {
        flex: 1 1 47rem;
    }
    header .fa-bars{
        display: none;
    }
    .navbar-desktop {
        display: flex;
    }
    .navbar-desktop a{
        font-size: 3rem;
        margin: 1.5rem;
        padding: 1.5rem;
        border-bottom: .1rem solid rgba(0, 0, 0, 0.247);
        color: var(--white-flour);
    }
    .navbar-desktop a:hover{
        color: var(--red-ketchup);
        text-shadow: var(--red-ketchup) 0px 0px 5px, var(--red-ketchup) 0px 0px 10px, var(--red-ketchup) 0px 0px 15px, var(--red-ketchup) 0px 0px 20px, var(--red-ketchup) 0px 0px 30px, var(--red-ketchup) 0px 0px 40px, var(--red-ketchup) 0px 0px 50px, var(--red-ketchup) 0px 0px 75px, 2px -2px 2px rgba(204,4,23,0);
    }
    .icons-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .logo {
        width: 20%;
    }
    header .logo img {
        height: 15rem;
    }
    .home .content p {
        font-size: 2rem;
    }
    .about .row .content p {
        font-size: 2rem;
    }
    .icons-info i {
        font-size: 5rem;
    }
    .icons-info h3 {
        font-size: 2rem;
    }
    .icons-info span {
        font-size: 1.7rem;
    }
    .review .box-container .box p {
        font-size: 1.8rem;
    }
    .heading {
        font-size: 5rem;
    }
}